.heading{
    padding: 0% 1%;
}
.container {
    display: flex; 
    flex-flow: row wrap;
    .column{
        border: 1px solid #DEDEDE;
        border-radius: 5px;
        padding: 0% 1%;
        margin: 0% 1%;
        width: 45%;
    }
}
.inline-calendar-example{
     width:200px;
     position: relative;
    .mat-inline-calendar{
        width:300px;
        position: absolute;
        top: 46px;
        -webkit-box-shadow: 6px 10px 12px -4px rgba(204,202,204,1);
        -moz-box-shadow: 6px 10px 12px -4px rgba(204,202,204,1);
        box-shadow: 6px 10px 12px -4px rgba(204,202,204,1);
        border: 1px solid #b0b0b0;
    }
}
